<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
    <listeners>
        <listener class-name="listeners.Listeners" />
    </listeners>

    <test verbose="2" preserve-order="true" name="LoginTest">
        <classes>
            <class name="TestCases.LoginTest"/>
        </classes>
    </test>

    <test verbose="2" preserve-order="true" name="FirstClass">
        <classes>
            <class name="tests.FirstClass"/>
        </classes>
    </test>

    <test verbose="2" preserve-order="true" name="FourthClass">
        <classes>
            <class name="tests.FourthClass"/>
        </classes>
    </test>

    <test verbose="2" preserve-order="true" name="SecondClass">
        <classes>
            <class name="tests.SecondClass"/>
        </classes>
    </test>

    <test verbose="2" preserve-order="true" name="ThirdClass">
        <classes>
            <class name="tests.ThirdClass"/>
        </classes>
    </test>
</suite>